.icon-48-firmens {
      background-image: url(../images/l_firmens.png);
      padding-left:60px!important;
}

.icon-48-firmen {
      background-image: url(../images/l_firmens.png);
      padding-left:60px!important;
}

